
<ion-header >
    <ion-toolbar mode="ios" >
      <ion-title style= "color : black" >
        Home
      </ion-title>
      <ion-buttons slot="start">
          <ion-buttons slot="start">
            <ion-menu-button style= "color : black "></ion-menu-button>
          </ion-buttons>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-tabs >
    <ion-tab-bar slot="bottom"  style="background-color:#3880ff">
      <ion-tab-button (click)="wanttoKnow()" style="background-color: #3880ff" >
        <ion-label style="color: black; font-family: Verdana, Geneva, Tahoma, sans-serif"><strong>Know About Them</strong></ion-label>
        <ion-icon style="color: black;" name="search"></ion-icon>
      </ion-tab-button>

      <ion-tab-button (click)="wanttoTell()" style="background-color: #3880ff">
        <ion-icon
          style="color: black;"
          name="chatbubble-ellipses-outline"
        ></ion-icon>
        <ion-label style="color: black;font-family: Verdana, Geneva, Tahoma, sans-serif"><strong>Tell About Them</strong></ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>
